$bp-xs: 480px;
$bp-sm: 750px;
$bp-md: 1024px;
$bp-lg: 1200px;
$bp-xl: 1500px;

/*
Colors
*/
$c-page-bg: #fefefa;
$c-page-header: #0af;
$c-text: #333;
$c-divider: #dedede;
$c-primary-accent: #0af;

/*
Z-Indexes
*/
$z-nav: 1500;
